/* home */

#tl {
    top: 0;
    left: 0;
}

#tr {
    top:  0;
    right: 0;
}

#bl {
    bottom: 0;
    left: 0;
}

#br {
    bottom: 0;
    right: 0;
}

.homequad {
    position: fixed;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.homequad:hover .over {
    opacity: 0.2;
}

.homequad:hover .hometxt {
    color: black;
}

.homequad:hover .abouttxt {
    opacity: 1;
    color: #b30000;
}

.over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: white;
}

.hometxt {
    position: absolute;
    left: 10%;
    top: 5%;
    z-index: 1;
    color: white;
    font-family: futura, arial;
    transition: 0.3s ease;
}

.homeimg {
    z-index: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.abouttxt {
    opacity: 0;
    position: absolute;
    left: 10%;
    top: 5%;
    font-family: futura, arial;
    -ms-transform: translateY(-1em);
    transform: translateY(-1em);
}

.homelink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* navbar */

.navbar {
    position: relative;
    list-style-type: none;
    margin: 10;
    padding: 1.5vw;
}

.navbarel{
    display: inline;
    font-family: futura, arial;
    color: #e6e6e6;
    padding-right: 1em;
}

/* writing */

.txt {
    font-family: futura, arial;
    color: #b3b3b3;
}

.title {
    color: white;
}

.heading {
    font-family: futura, arial;
    color: #e6e6e6;
}

.prose p{
    font-size: 1.1em;
    text-indent: 3em;
    line-height: 2em;
    font-family: courier, courier new;
    color: #e3e3e3;
    padding-left: 5em;
    padding-right: 40vw;
}

@media (orientation: portrait) {
    .prose p{
	padding-left: 3em;
	padding-right: 3em;
	font-size: 1.6em;
    }
    .hometxt {
	font-size: 1.5em;
    }
    .txt {
	font-size: 1.5em;
    }
    .navbarel {
	font-size: 1.5em;
    }
}
